.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 20%;
  color: white;
}

.title-container {
  display: flex;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Category List Styling */

.header-categories {
  display: flex;
  padding: 10px;
  background-color: darkgray;
}

.categories-text {
  padding: 0;
  margin: 0;
  color: black;
  font-weight: bold;
}

.categories-list {
  list-style: none;
  margin: 0;
}

.category-item {
  display: inline;
  padding: 10px;
}

/* Posts */

.posts {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.post, .post-content {
  outline: 1px solid #000;
  box-sizing: border-box;
}

.post {
  padding-left: 5px;
  margin-bottom: 7.5px;
}

span {
  font-weight: bold;
  /* border: 1px solid black; */
}

.post-container {
  display: flex;
  align-items: center;
}

.post-rank {
  width: 5%;
}

.post-vote {
  width: 15%;
}

.post-content {
  width: 85%;
}

.post-content > .post-title {
  margin: 0;
  padding: 5px 0;
}

.post-content > .post-body {
  margin: 0;
  padding: 0 0 5px 0;
}

.post-info {
  display: flex;
  justify-content: center;
  font-size: small;
  padding: 3px 0;
  border-top: 1px dashed darkgray;
}

.post-info > p {
  margin: 0;
  padding: 0 5px 0 5px;
}

/* Add Post Button */

.add-post-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: lightgray;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid darkgray;
  border-radius: 5px;
  box-shadow: 3px 4px darkslategrey;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
